<ion-view view-title="Posts Por Categoria">
	<ion-content>
        <div ng-repeat="post in categorieCtrl.posts" class="list card">

			<div class="item item-avatar">
				<img ng-src="{{post.author.avatar}}">
				<h2 class="cor-texto">{{post.author.name}}</h2>
				<p class="cor-texto">{{post.date}}</p>
			</div>

			<div class="item item-body">
				<div>
					<h2 ng-bind-html="post.title"></h2>
					<img class="full-image" src="{{post.featured_image}}">
				</div>
			</div>			
		</div>
		<ion-infinite-scroll
    		on-infinite="categorieCtrl.getMorePosts()"
			ng-if="!categorieCtrl.noMore"
    		distance="4%">
  		</ion-infinite-scroll>
	</ion-content>
</ion-view>